<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 ########################################
 活动模版Mapper
 @author  nj
 @version 1.0
 @date 2018-05-06
 ########################################
-->
<mapper namespace="com.hiboom.monent.back.microservice.dao.mapper.HbActivityTemplateMapper">
    <!--
      ########################################
      hb_activity_template表名
      @author  nj
      @version 1.0
      @date 2018-05-03
      ########################################
    -->
    <sql id="tableName">
     hb_activity_template
    </sql>
    <!--
      ########################################
      hb_activity_template表字段映射
      @author  nj
      @version 1.0
      @date 2018-05-03
      ########################################
    -->
    <sql id="field">
       id AS id,
       image AS image,
       cover_img AS coverImg,
       title AS title,
       price AS price,
       address AS address,
       join_min AS joinMin,
       join_max AS joinMax,
       content_img AS contentImg,
       one_price AS onePrice,
       two_price AS twoPrice,
       is_use AS isUse,
       ctime AS ctime
    </sql>
    <!--
      ########################################
      根据id查询指定活动模版
      @author  nj
      @version 1.0
      @date 2018-05-06
      ########################################
     -->
    <select id="load" parameterType="java.lang.Integer" resultType="com.hiboom.monent.back.entity.HbActivityTemplate">
        select
        <include refid="field"/>
        from
        <include refid="tableName"/>
        where id = #{id}
    </select>
    <!--
       ########################################
       查询活动模版列表
       @author  nj
       @version 1.0
       @date 2018-05-06
       ########################################
     -->
    <select id="findAll" parameterType="map" resultType="com.hiboom.monent.back.entity.HbActivityTemplate">
        select
        <include refid="field"/>
        from
        <include refid="tableName"/>
        WHERE status = 1
        ORDER  BY id DESC
    </select>
    <!--
      ########################################
      统计所有记录
      @author  nj
      @version 1.0
      @date 2018-05-06
      ########################################
    -->
        <select id="countAll" parameterType="map" resultType="java.lang.Integer">
            select
            COUNT(id)
            from
            <include refid="tableName"/>
            WHERE status = 1
        </select>
    <!--
      ########################################
  　  新增活动模版
      @author  nj
      @version 1.0
      @date 2018-05-06
      ########################################
    -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.hiboom.monent.back.entity.HbActivityTemplate">
        <selectKey resultType="Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID() as id;
        </selectKey>
        insert into
        <include refid="tableName"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="image != null">
                image,
            </if>
            <if test="coverImg != null">
                cover_img,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="joinMin != null">
                join_min,
            </if>
            <if test="joinMax != null">
                join_max,
            </if>
            <if test="contentImg != null">
                content_img,
            </if>
            <if test="onePrice != null">
                one_price,
            </if>
            <if test="twoPrice != null">
                two_price,
            </if>
            <if test="isUse != null">
                is_use,
            </if>
            <if test="ctime != null">
                ctime
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="image != null">
                #{image},
            </if>
            <if test="coverImg != null">
                #{coverImg},
            </if>
            <if test="title != null">
                #{title},
            </if>
            <if test="price != null">
                #{price},
            </if>
            <if test="address != null">
                #{address},
            </if>
            <if test="joinMin != null">
                #{joinMin},
            </if>
            <if test="joinMax != null">
                #{joinMax},
            </if>
            <if test="contentImg != null">
                #{contentImg},
            </if>
            <if test="onePrice != null">
                #{onePrice},
            </if>
            <if test="twoPrice != null">
                #{twoPrice},
            </if>
            <if test="isUse != null">
                #{isUse},
            </if>
            <if test="ctime != null">
                #{ctime}
            </if>
        </trim>
    </insert>

    <!--
      ########################################
    　修改活动模版
      @author  nj
      @version 1.0
      @date 2018-05-06
      ########################################
    -->
    <update id="update" parameterType="com.hiboom.monent.back.entity.HbActivityTemplate">
        update
        <include refid="tableName"/>
        <set>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="coverImg != null">
                cover_img = #{coverImg},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="joinMin != null">
                join_min = #{joinMin},
            </if>
            <if test="joinMax != null">
                join_max = #{joinMax},
            </if>
            <if test="contentImg != null">
                content_img = #{contentImg},
            </if>
            <if test="onePrice != null">
                one_price = #{onePrice},
            </if>
            <if test="twoPrice != null">
                two_price = #{twoPrice},
            </if>
            <if test="isUse != null">
                is_use = #{isUse}
            </if>
        </set>
        where id = #{id}
    </update>

    <!--
      ########################################
  　  标记删除活动模版
      @author  nj
      @version 1.0
      @date 2018-05-06
      ########################################
    -->
    <update id="deleteById">
        update
        <include refid="tableName"/>
        SET status = 0 where id = #{id}
    </update>

</mapper>