<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 ########################################
 标签Mapper
 @author  nj
 @version 1.0
 @date 2018-05-09
 ########################################
-->
<mapper namespace="com.hiboom.monent.back.microservice.dao.mapper.HbTagsMapper">
    <!--
      ########################################
      hb_tags表名
      @author  nj
      @version 1.0
      @date 2018-05-09
      ########################################
    -->
    <sql id="tableName">
        hb_tags
     </sql>
    <!--
      ########################################
      hb_tags表字段映射
      @author  nj
      @version 1.0
      @date 2018-05-02
      ########################################
    -->
    <sql id="field">
        id AS id,
        tags_name AS tagsName
     </sql>

    <!--
     ########################################
     根据id查询指定标签
     @author  nj
     @version 1.0
     @date 2018-05-02
     ########################################
    -->
    <select id="load" parameterType="java.lang.Integer" resultType="com.hiboom.monent.back.entity.HbTags">
        select
        <include refid="field"/>
        from
        <include refid="tableName"/>
        where id = #{id}
    </select>
    <!--
      ########################################
   　 根据条件查询,返回list
      @author  nj
      @version 1.0
      @date 2018-05-06
      ########################################
    -->
    <select id="findAll" parameterType="map" resultType="com.hiboom.monent.back.entity.HbTags">
        select
        <include refid="field"/>
        from
        <include refid="tableName"/>
    </select>
    <!--
      ########################################
   　 根据条件查询,返回list
      @author  nj
      @version 1.0
      @date 2018-05-06
      ########################################
    -->
    <select id="findAllLabel" parameterType="map" resultType="com.hiboom.monent.back.excel.ExcelLabel">
        select
        tags_name AS label
        from
        <include refid="tableName"/>
    </select>
    <!--
     ########################################
　   批量插入hb_tags
     @author  nj
     @version 1.0
     @date 2018-05-02
     ########################################
   -->
    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO
        <include refid="tableName"/>
        (tags_name)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
        (#{item.label})
        </foreach>
    </insert>
</mapper>